body,
html {
    margin: 0;
    padding-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 550px;
    margin: auto;
    text-align: center;
    border: 1px solid #3c3b56;
    border-radius: 25px;
    padding: 20px;
    color: #3c3b56;
    box-shadow: 5px 5px #3c3b56bb;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-background {
    display: block;
    float: right;
    max-width: 700px;
    width: 100%;
    margin-top: 10px;
}

#image-dice {
    width: 32px;
}

#draw {
    text-align: center;
    display: block;
    border: 2px solid #3c3b56;
    height: 25px;
    outline: #3c3b56;
    margin: auto;
    margin-bottom: 15px;
    width: 220px;
}

#draw::placeholder {
    color: #3c3b56;
    font-style: italic;
}

#draw-btn {
    color: #696cff;
    padding: 10px;
    appearance: none;
    border: 1px solid #696cff;
    border-radius: 35px;
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
    font-weight: bold;
}

#draw-btn:hover {
    color: white;
    background-color: #696cff;
    transition: .2s ease-in-out;
}